
body {
    font-family: Georgia;
    /*margin: 20px;*/
    margin: 0;
    padding: 0;
    background-color: rgb(189, 228, 255); 
}

/* Select Styles (Filter Bar) */
select {
    width: 100px; /* Set a fixed width for a small filter bar */
    padding: 8px; /* Adjust padding for better appearance */
    border: 2px solid #010b2e;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    font-size: 12px; /* Decrease font size for a smaller appearance */
    outline: none;
    transition: border-color 0.3s ease;
  }
  
h1 {
    margin: 20px;
    font-size: 25px;
    color: rgb(2, 51, 84);
}

.page-header {
    /*background-color: #211f1f;*/
    color: rgb(255,255,255);
    padding: 10px;
    text-align: center;
}

form.formSearch {
    display: center;
    align-items: flex;
}

input[type=text] {
    padding: 8px;
    width: 80%;
    max-width: 450px;  /*makes the width long of input search*/
    border-radius: 30px;  /*controls the curve*/
    border: 1px solid #ccc; 
    outline: none;  /*removes the outline*/
}

label[for=filter] {
    margin-right: 10px; /* Adjusts to create desired space between word Filter: and options*/
}

form.filterForm {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end; /* Align items to the top right corner */
    position: fixed;
    top: 0;
    right: 0; 
    padding: 25px; 
    z-index: 1000;
}

select[id=filter]{
    text-align: center; /*centers the options in filter*/
}

button.search-b {
    padding: 6px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #ccc; 
    margin-left: 3px;
    outline: none;
}


