<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>uniMunch</title>
  <link rel="stylesheet" href = "../static/styles.css">
</head>

<body>
  <h1>uniMunch</h1>
  <header class = "page-header"> 
    <!--<p><a href="another">Go to the other page</a></p> takes you to the other html file-->
    <form id="searchForm" action="another.html" method="GET">
      <input type="text" id="searchInput" name="search_place" placeholder="Search for a place">
      <button class = "search-b" type = "submit" value="Search">Search</button> <!--search button--> 
      <!--<input type="submit" value="search"></p>-->
    </form>

  </header>
 
  
</body>


</html>
