<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>uniMunch</title>
  <link rel="stylesheet" href = "../static/styles.css">
</head>

<body>
  <h1>uniMunch</h1>
  <header class = "page-header"> 
    <form id="searchForm" action="/search" method="GET">
      <input type="text" id="searchInput" name="search_place" placeholder="Enter a location name">
      <button class = "search-b" type = "submit" value="Search">Search</button> <!--search button--> 
      <!--<input type="submit" value="search"></p>-->
    </form>
  </header>

 
  
  <header class = "write_rev-b">
    <form action = "/create_revpg" method="GET">
      <button class = "write-rev" type = "submit">Write a Review</button> <!--write review button-->
    </form> 
  </header>
  
  
  <form method="GET" action="/">
    <label for="location">Select a location:</label>
    <select id="location" name="selected_location">
      {% for location in locations %}
        <option value="{{ location }}">
          {{ location }}
        </option>
      {% endfor %}
      
      
  {% if reviews %}
    <h2>Reviews for {{ selected_location.split(':')[0] if selected_location else 'Unknown Location' }}</h2>
    <ul>
      {% for review in reviews %}
        <li>
          <strong>Opinion:</strong> {{ review.opinion }}<br>
          <strong>Stars:</strong> {{ review.stars }}<br>
          <strong>Meal Type:</strong> {{ review.meal_type }}<br>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No reviews available for {{ selected_location.split(':')[0] if selected_location else 'Unknown Location' }}</p>
  {% endif %}

 

  <h2>All Reviews</h2>
    <table>
        <tr>
          <th>Opinion</th>
          <th>Rating</th>
          <th>Meal Type</th>    
        </tr>
        {% for row in all_reviews %}
        <tr>
          {% for value in row %}
              <td>{{ value }}</td>
          {% endfor %}
      </tr>
        {% endfor %}
    </table>
     
</body>

</html>

